.academic {
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
    background-color: var(--color-background-header);
    
}

.academic__title__section {
    color: var(--color-t2);
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.5s;
}

.academic__box {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s;

}

.academic__boxes{
    display: flex;
    padding: 1rem;
    align-items: center
}

.academic__course{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.academic__img {
    width: 45%;
    border-radius: 5%;
    transition: all 0.5s;

}

.academic__info {
    padding: 1rem;
    transition: all 0.5s;
    text-align: center;
    align-items: center;
}

.academic__title {
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
    transition: all 0.5s;

}

.academic__text {
    padding: 1rem;
    font-weight: lighter;
    font-size: 1.5rem;
    transition: all 0.5s;
}

.academic__course__img{
    width: 60%;
    padding: 1rem 0rem;
}


.academic__page{
    padding: 1.5rem 0rem;
    align-items: center;
}

.academic__button{
    border-radius: 1rem;
    background-color: #fff;
    border: none;
    color: #000;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    width: 20rem;
    transition: all 0.5s;
    cursor: pointer;
    padding-bottom: 1rem;

    &:hover {
        color: #fff;
        background-color: #c92629;
        transform: translateY(1rem);
    }
}


/* Responsive mobiles */
@media screen and (max-width: 767px) {
    .academic {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }
    
    .academic__title__section {
        font-size: 2rem;
        text-align: left;
    }
    
    .academic__box{
        flex-direction: column;
    }

    .academic__boxes{
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .academic__img {
        width: 50%;
        transition: all 0.5s;
    
    }

    .academic__info{
        text-align: left;
        align-items: normal;
        transition: all 0.5s;
    }

    .academic__title{
        font-size: 1.2rem;
        transition: all 0.5s;
    }

    .academic__text{
        font-size: 1rem;
        transition: all 0.5s;
    }

    .academic__button{
        width: 10rem;
    }


}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1193px) {
    .academic {
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 4rem;
    }
    
    .academic__title__section {
        font-size: 2rem;
        text-align: left;
    }

    .academic__box{
        flex-direction: row;
        align-items: center;
    }

    .academic__boxes{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }


    .academic__img {
        width: 16rem;
        transition: all 0.5s;
    
    }

    .academic__course__img{
        width: 16rem;
        transition: all 0.5s;
    }
    
    .academic__info{
        text-align: left;
        align-items: normal;
    }

    .academic__title{
        font-size: 1.5rem;
    }

    .academic__text{
        font-size: 1.2rem;
    }

    .academic__button{
        width: 15rem;
    }

    
}